.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  max-width: 775px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .feynman__title {
    font-size: 100px;
  }
}

@media screen and (max-width: 600px) {
  .feynman__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 425px) {
  .feynman__title {
    font-size: 50px;
  }
}
