.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
  .header {
    height: 80vh;
  }
}

@media screen and (max-width: 425px) {
  .header {
    height: 40vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 550px;
    max-height: 650px;
  }
}
