.resources__logo-zone {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 80px 0 0;
}

@media screen and (max-width: 1024px) {
  .resources__logo-zone {
    justify-content: center;
    margin: 80px 40px 0;
    gap: 20px 100px;
  }
}

@media screen and (max-width: 768px) {
  .resources__logo-zone {
    gap: 30px 50px;
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .resources__logo-zone {
    gap: 30px 50px;
    margin: 30px 0 0;
  }
}
