.resources__logo {
  max-width: 270px;
  max-height: 38px;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.resources__logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .resources__logo {
    max-width: 350px;
    max-height: 76px;
  }
}

@media screen and (max-width: 768px) {
  .resources__logo {
    max-width: 270px;
  }
}

/* @media screen and (max-width: 768px) {
  .resources__logo {
    max-width: 540px;
    max-height: 76px;
  }
} */
