.header__main-illustration {
  /* max-width: 756px;
  min-height: 608px; */
  width: 52%;

  z-index: 1;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  align-self: end;
  justify-self: end;
}

@media screen and (max-width: 1024px) {
  .header__main-illustration {
    width: 75%;
    margin-right: -100px;
  }
}

@media screen and (max-width: 768px) {
  .header__main-illustration {
    width: 95%;
    margin-right: -120px;
  }
}

@media screen and (max-width: 425px) {
  .header__main-illustration {
    width: 130%;
    margin-right: -140px;
  }
}

@media screen and (max-width: 320px) {
  .header__main-illustration {
    width: 180%;
    margin-right: -178px;
  }
}
