.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s ease-out;
  align-self: flex-start;
  min-width: 180px;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .khan__buy-link {
    min-width: 170px;
  }
}

@media screen and (max-width: 1024px) {
  .khan__buy-link {
    order: 0;
    margin: 0 0 30px;
  }
}
